*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-style: normal;
  min-width: 320px;
}
.river-dale {
  width: 100%;
  height: 100vh;
  background: url("../images/img/wrapper-background.jpg") center center / cover no-repeat;
  &__wrapper {
    padding: 70px 8.33%;
    height: calc(100% - 140px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-text {
      width: 446px;
      // font-family: Montserrat;
      // font-style: normal;
      font-weight: 600;
      font-size: 67px;
      line-height: 100%;
      color: #ffffff;
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      &-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-link {
          margin-top: 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          // font-family: HeliosCond;
          // font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          text-transform: uppercase;
          color: #ffffff;
          span {
            margin-right: 20px;
          }
        }
      }
      &-right {
        // font-family: Montserrat;
        // font-style: normal;
        font-weight: 600;
        font-size: 67px;
        line-height: 100%;
        text-align: right;
        text-transform: uppercase;
        color: #ffffff;
        &-tel {
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
}

@media (max-width: 1400.98px) {
  .river-dale {
    &__wrapper {
      padding: 50px 50px;
      height: calc(100% - 100px);
      &-logo {
        img {
          width: 200px;
          height: 89px;
        }
      }
      &-text {
        width: 319px;
        font-size: 48px;
      }
      &-bottom {
        &-left {
          &-link {
            margin-top: 20px;
            font-size: 14px;
            line-height: 16px;
          }
          .perfect-group {
            img {
              width: 120px;
              height: 57px;
            }
          }
          .altis {
            img {
              width: 120px;
              height: 30px;
            }
          }
        }
        &-right {
          font-size: 48px;
        }
      }
    }
  }
}
// @media (max-width: 1200.98px) {
// }
@media (max-width: 992.98px) {
  .river-dale {
    &__wrapper {
      &-bottom {
        &-right {
          width: 50%;
        }
      }
    }
  }
}
@media (max-width: 768.98px) {
  .river-dale {
    background: url("../images/img/wrapper-background.jpg") 21% center / cover no-repeat;
    &__wrapper {
      padding: 90px 50px;
      height: calc(100% - 180px);
      &-logo {
        img {
          width: 170px;
          height: 75px;
        }
      }
      &-text {
        width: 239px;
        font-size: 36px;
      }
      &-bottom {
        &-right {
          font-size: 36px;
        }
      }
    }
  }
}
@media (max-width: 576.98px) {
  .river-dale {
    &__wrapper {
      padding: 30px 30px;
      height: calc(100% - 60px);
      &-logo {
        img {
          width: 100px;
          height: 44px;
        }
      }
      &-text {
        width: 199px;
        font-size: 30px;
      }

      &-bottom {
        &-left {
          &-link {
            flex-direction: column;
            margin-top: 10px;
            font-size: 10px;
            line-height: 12px;
            span {
              margin-right: 0;
              margin-bottom: 10px;
            }
          }
          .perfect-group {
            img {
              width: 100px;
              height: 48px;
            }
          }
          .altis {
            img {
              width: 100px;
              height: 25px;
            }
          }
        }
        &-right {
          font-size: 18px;
        }
      }
    }
  }
}
